
.btn_click{
    background-color:red !important;  
}

.btn_contact{
    background-color: rgb(246, 246, 137) !important;
}
.heading_one{
    text-transform: capitalize !important;
    color: black !important;

}
