
.btn_click{
    background-color:red !important;  
}

.btn_contact{
    background-color: rgb(246, 246, 137) !important;
}

/* text style start*/
.heading_one{
    text-transform: capitalize;
    color: black;
    font-size: 30px !important;
    text-align: center !important;
}
.heading_two{
    text-transform: capitalize !important;
    color: black !important;
    text-align: center !important;
    font-size: 25 !important;
}
.text_para{
    color: black !important;
    font-size: 17px !important;
    text-align: center !important;
}

h1.heading_one{
}


/* text style end */
.border_0{
    border: unset !important;
}
.d_none{
    display: none !important;
}
.bg_none{
    background-color: unset !important;
    background: none !important;
}

#page-title{
}
.light-borders, div#page-content.light-borders{
    border: unset !important;

}


/* about us page style start */


.con_left{
    background: url("https://s3.amazonaws.com/autoprint/115/cms_images/2327/h6_img1.png");
}
/* about us page style end */