
.btn_click{
    background-color:red !important;  
}

.btn_contact{
    background-color: rgb(246, 246, 137) !important;
}
.heading_one{
    text-transform: capitalize;
    color: black;
}
.border_0{
    border: unset !important;
}
.bg_none{
    background-color: unset !important;
}